/*  Connectamos Fonts */
@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto:wght@100;300;400;500&display=swap");

:root {
  --primary: #072ac8;
}

/* $maxWidthContainer:content 1320; */
/* limpiamos margin y padding de nuestro projecto */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* asignamos font-family "Roboto" y sant-serif a nuestro projecto */
body {
  font-family: "Roboto", sans-serif;
  max-width: 1440px;
  background-color: #F4F6FC;
}



/* ------------------------------------------------------------------------ */
/* ------------------------------ INDEX html ------------------------------ */
.header {
 
  height: 122px;
  
}
.header__content{
  padding: 70px 170px 0px 170px ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  

}
.header__menu{
  
 
  /* width: 700px; */

}

.menu__icon{
}
.menu__body {
}
.menu__list {
list-style-type: none; 
display: flex;
/* justify-content: space-evenly; */

height: 22px;

font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 130%;

color: #6c718b;

}
.menu-link {
text-decoration: none;

}
/* burger menu */
.icon-menu {
  display: none;
}
.btn-blue {
  background-color: #072ac8;
  color: white;
  font-weight: 500;
  font-size: 1.05rem;
  padding: 16px;
  text-decoration: none;
  display: flex;
justify-content: center;
align-items: center;
width: 150px;
height: 52px;

}
.logo{
  
  /*  font-weight: 300;
  font-size: normal;  */
}

/*------------------------------------------------------------------------ */

/* ------------------------------ Splash page ------------------------------ */

/* Your CSS code goes here */

/* ------ CIRCULAR ANIMATION ------ */

/* Your CSS code goes here */

/* ------------------------------ Navbar ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Header ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Partners ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Recent projects ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Client reviews ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Services ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Questions form ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Footer ------------------------------ */

/* Your CSS code goes here */

/* -------------------------------------------------------------------------- */
/* ------------------------------ PROJECT html ------------------------------ */
/* -------------------------------------------------------------------------- */

/* ------------------------------ Project main ------------------------------ */

/* Your CSS code goes here */

/* ----------------------------------------------------------------------------- */
/* ------------------------------ CONTACT-US html ------------------------------ */
/* ----------------------------------------------------------------------------- */

/* ------------------------------ Form ------------------------------ */

/* Your CSS code goes here */

/* ----------------------------------------------------------------------------- */
/* ------------------------------ About html ------------------------------ */
/* ----------------------------------------------------------------------------- */

/* Your CSS code goes here */

/* --------------------------------------------------------------------------- */
/* ------------------------------ MEDIA QUERIES ------------------------------ */
/* --------------------------------------------------------------------------- */

/* ------------------------- Smaller than 990px (tablet) ------------------------- */
@media (max-width: 990px) {
  
  /* Your CSS code goes here */
}

/* ------------------------- Smaller than 766px (mobile) ------------------------- */
@media (max-width: 766px) {
  .class{ condicion:llave;
    
  }
  /* Your CSS code goes here */
}

/* ------------------------------ Hamburguer menu ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Alert ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Sticky scroll bar ------------------------------ */

/* Your CSS code goes here */
