/*  Connectamos Fonts */
@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto:wght@100;300;400;500&display=swap");

:root {
  --primary: #072ac8;
}

/* $maxWidthContainer:content 1320; */
/* limpiamos margin y padding de nuestro projecto */
* {
  margin: 0px auto;
  padding: 0px;
  box-sizing: border-box;
}

@media (max-width:1440) {
  .conteiner {
    max-width: 970;
  }
}

@media (max-width:992) {
  .conteiner {
    max-width: 750;
  }
}

@media (max-width:767) {
  .conteiner {
   max-width: none;
  }
  }

.conteiner{
  padding: 15px;
display: grid;
}
/* asignamos font-family "Roboto" y sant-serif a nuestro projecto */
body {
  font-family: "Roboto", sans-serif;
  max-width: 1440px;
  background-color: #F4F6FC;

}



/* ------------------------------------------------------------------------ */
/* ------------------------------ INDEX html ------------------------------ */
.header {

  height: 122px;

}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  align-items: center;
  margin: 75px auto;
  width: 1100px;
}

.header__menu {}

.menu__icon {
  position: static;
}

.menu__body {}

.menu__list {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;

  height: 22px;

  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 130%;

  color: #6B708D;

}

.menu-link {
  text-decoration: none;
  margin: 0px 14px;
}

/* burger menu */
.icon-menu {
  display: none;
}

.btn-blue {
  background-color: #072ac8;
  color: white;
  font-weight: 500;
  font-size: 1.05rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 52px;
  margin: 0px;

}

/* .logo {

   font-weight: 300;
  font-size: normal; 
}

.menu__body {}
 */
.navbar {
  margin: 0px 14px;
}

.clients {
  width: 1100px;
  height: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10rem;

}

.clients div {
  width: 150px;
  text-align: center;
}

.title h2 {
  font-size: 2.5rem;
  margin-top: 150px;
  margin-bottom: 70px;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 0px;
  max-width: 1063px;
  margin: auto;
}
#projects{
  margin-inline: 170px;
}
.project {

  width: 340px;
  height: 444px;
  left: 170px;
  top: 117px;
  overflow: hidden;
  background-color: #FFFFFF;
}

.project a {
  margin: 0px 27px;
  text-decoration: none;
  color: #072AC8;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 150%;
}

.pageContainer {
  margin: 170px;


}

.project img {
  width: 340px;
  height: 240px;
}

.opinion {
  height: 622px;
  background-color: #292e47;
  background-image: url(/resources/images/testimonial-section/orbit.png);
  background-size: 91%;
  background-repeat: no-repeat;
  margin-top: 150px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  background-position: 60%;
  margin-inline: auto;
  width: 1320px;
  padding: 90px;

}

.opinion h2 {
  color: white;
  font-size: 2.1rem;
}

.opinion p {
  width: 55%;
  color: gold;
  font-size: 1.7rem;
}

.AutorDeOpinion {

  display: flex;
  align-items: center;
  position: absolute;
  bottom: 100px;
}

.AutorDeOpinion h4 {
  color: #A2D6F9;
  ;


}

.AutorDeOpinion h5 {
  color: #F4F6FC;

}

.AutorDeOpinion img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-right: 10px;
}

.memoji-2 {
  width: 150px;
  height: 150px;
  position: absolute;
  right: 10%;
  top: 10%;
  left: auto;
  bottom: auto;
}

.memoji-4 {
  width: 150px;
  height: 150px;
  position: absolute;
  right: 10%;
  bottom: 10%;
  left: auto;
  top: auto;
}

.memoji-3 {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 10%;
  bottom: 10%;
  right: auto;
  top: auto;
}

.memoji-1 {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 10%;
  top: 10%;
  right: auto;
  bottom: auto;
}

/* ------------------------------ Splash page ------------------------------ */

/* Your CSS code goes here */

/* ------ CIRCULAR ANIMATION ------ */

/* Your CSS code goes here */

/* ------------------------------ Navbar ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Header ------------------------------ */
.heroImage {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
 
  width: 1440px;
  height: 650px;
}

.herosection {
  margin: 0 170px;
}

.imageHero {
  background-image: url(/resources/images/hero-section/hero-image.png);
  background-repeat: no-repeat;
  width: 570px;
  height: 650px;
  background-size: 100%;
  overflow: hidden;
  position: relative;
}

.imageHero img {
  width: 46%;

}

.card1 {
  position: relative;
  top: -10px;
  right: 20px;
}

.card2 {
  position: relative;
  left: 367px;
  top: 191px;
}

.contentHero {
  width: 530px;
  height: 422px;
  position: relative;
}

.contentHero h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 70px;
  color: #292E47;
}

.parafoHero {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #6B708D;
  width: 435px;
  height: 90px;
  margin-bottom: 60px;
  margin-top: 30px;
  margin-inline: 0px;
}

.botonesHeroSection {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

/* ------------------------------ Partners ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Recent projects ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Client reviews ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Services ------------------------------ */
#servises {
  position: absolute;
  width: 1100px;
  height: 497px;

}

.titleServises {
  margin: 150px 170px 70px 170px;
  color: #292E47;
  max-width: 1100px;
}

.services-section {
  display: flex;
  justify-content: space-around;
  width: 1100px;
  height: 380px;
  margin-inline: 170px;

}

.service {
  background-color: #FFFFFF;
  display: grid;
  align-content: space-between;
  padding-bottom: 20px;
  width: 340px;
  height: 380px;
}

#campo1 {
  background-image: url(/resources/images/services-section/icons/1.svg);
  background-position: center ;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
  background-color: #ECF7FF;
  border-radius: 100px;
  margin: 34px 0 0 34px;
}



#campo2 {
  background-image: url(/resources/images/services-section/icons/2.svg);
  background-position: center ;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
  background-color: #ECF7FF;
  border-radius: 100px;
  margin: 34px 0 0 34px;
}

#campo3 {
  background-image: url(/resources/images/services-section/icons/3.svg);
  background-position: center ;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
  background-color: #ECF7FF;
  border-radius: 100px;
  margin: 34px 0 0 34px;
}

#services h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
}

.service h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #292E47;
  margin: 27px;
}

.service p {
  width: 280px;
  height: 90px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #6B708D;
  margin: 0px 27px 27px;
}

.service a {
  margin: 0px 27px;
  text-decoration: none;
  color: #072AC8;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 150%;
}

/* ------------------------------ Questions form ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Footer ------------------------------ */

/* Your CSS code goes here */

/* -------------------------------------------------------------------------- */
/* ------------------------------ PROJECT html ------------------------------ */
/* -------------------------------------------------------------------------- */

/* ------------------------------ Project main ------------------------------ */

/* Your CSS code goes here */

/* ----------------------------------------------------------------------------- */
/* ------------------------------ CONTACT-US html ------------------------------ */
/* ----------------------------------------------------------------------------- */

/* ------------------------------ Form ------------------------------ */

#preguntas {
  width: 1320px;
  height: 500px;
  background-color: #FFC600;
  margin-top: 150px;
  max-width: 1320px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.preguntas {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
}

#preguntas p {
  width: 139px;
  height: 30px;
  left: 481px;
  top: 67px;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  margin: 20px 0 50px;



}

.emailPreguntas a {
  background: #072AC8;
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
  color: #FFFFFF;
}

.emailPreguntas {
  display: flex;
}

#email-input {
  background-image: url(/resources/images/newsletter/icon/mail.svg);
  background-repeat: no-repeat;
  background-position: 5%;
  padding-left: 10%;
  width: 393px;
  height: 80px;
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;

}

#subscribeBtn {
  width: 198px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;

}

/* ----------------------------------------------------------------------------- */
/* ------------------------------ About html ------------------------------ */
/* ----------------------------------------------------------------------------- */
.footer {
  display: flex;
  margin-top: 120px;
  margin-bottom: 120px;
  margin-inline: initial;
}

.logoBotom {
  max-width: 1440px;
}

.logoBotom img {
  width: 100px;
  margin-bottom: 20px;
  height: 30px;
  left: 170px;
  top: 30px;
}

.direction {
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;
  color: #6B708D;
}

.linksFooter a {
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
  line-height: 150%;
  color: #072AC8;
}

.linksFooter {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  align-items: end;
}

.scroolToTop {
  background-color: #292E47;
  color: #F4F6FC;
  text-decoration: none;
  bottom: 0px;
  font-size: 50px;
  position: fixed;
  text-align: center;
  left: 0;
  width: 100%;
}

/* --------------------------------------------------------------------------- */
/* ------------------------------ MEDIA QUERIES ------------------------------ */
/* --------------------------------------------------------------------------- */

/* ------------------------- Smaller than 990px (tablet) ------------------------- */
@media (max-width: 990px) {

  /* Your CSS code goes here */
}

/* ------------------------- Smaller than 766px (mobile) ------------------------- */
@media (max-width: 766px) {
  .class {
    condicion: llave;

  }

  /* Your CSS code goes here */
}

/* ------------------------------ Hamburguer menu ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Alert ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Sticky scroll bar ------------------------------ */

/* Your CSS code goes here */