/*  Connectamos Fonts */
@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto:wght@100;300;400;500&display=swap");

:root {
  --primary: #072ac8;
}

/* $maxWidthContainer:content 1320; */
/* limpiamos margin y padding de nuestro projecto */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* asignamos font-family "Roboto" y sant-serif a nuestro projecto */
body {
  font-family: "Roboto", sans-serif;
  max-width: 1440px;
  background-color: #F4F6FC;
}



/* ------------------------------------------------------------------------ */
/* ------------------------------ INDEX html ------------------------------ */
.header {
 
  height: 122px;
  
}
.header__content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  align-items: center;
  margin: 75px auto;
  width: 1100px;
}

.header__menu{
  /* width: inherit; */
 
   /* width: 700px;  */

}

.menu__icon{
  position: static;
}
.menu__body {


}
.menu__list {
list-style-type: none; 
display: flex; 
 justify-content: space-evenly; 
 
height: 22px;

font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 130%;

color: #6B708D;

}
.menu-link {
text-decoration: none;
margin: 0px 14px; 
}
/* burger menu */
.icon-menu {
  display: none;
}
.btn-blue {
  background-color: #072ac8;
  color: white;
  font-weight: 500;
  font-size: 1.05rem;
  padding: 16px;
  text-decoration: none;
  display: flex;
justify-content: center; 
align-items: center;
width: 150px;
height: 52px;

}
.logo{
  
  /*  font-weight: 300;
  font-size: normal;  */
}
.menu__body{
  
}
.navbar{
  margin: 0px 14px;
}
.clients{
width: 1100px;
height: 96px;
display: flex;
justify-content: space-evenly;
align-items: center;

}
.clients div{
  width: 150px;
  text-align: center;
 
}
.title{
  margin: 100px 0 75px 0;
}
.title h2 {
  font-size: 2.5rem;
}
.projects-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 0px;
  background-color:white;
 
}
.project{
  
width: 340px;
height: 444px;
left: 170px;
top: 117px;
overflow: hidden;


}
.pageContainer{
  margin: 170px;

 
}

.project img{
width: 340px;
height: 240px;
}
.opinion{
  height: 622px;
  background-color: #292e47;
  background-image: url(/resources/images/testimonial-section/orbit.png);
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 150px;
  max-width: 1320px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.opinion h2{
  color: white;
  font-size: 2.1rem;
}
.opinion p{
  width: 55%;
  color: gold;
  font-size: 1.7rem;
}
.AutorDeOpinion{
    display: flex;
  align-items: center;
}
.AutorDeOpinion h4{
  color: #A2D6F9;;
}
.AutorDeOpinion h5{
  color: #F4F6FC;

}
.AutorDeOpinion img{
width: 50px;
height: 50px;

 /*  background-size: 100%;
  background-position: hiden; */
/*   position:absolute;
top:452px;
left: 50%; */
/* transform: translate(-50%, -50%); */
/* max-height: 100%;
max-width: 100%;
} */
/* width: 50px;
height: 50px; */
}
.memoji-2 {
  width: 150px;
  height: 150px;
  position: absolute;
  right: 10%;
  top: 10%;
  left: auto;
  bottom: auto;
}
.memoji-4 {
  width: 150px;
  height: 150px;
  position: absolute;
  right: 10%;
  bottom: 10%;
  left: auto;
  top: auto;
}
.memoji-3 {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 10%;
  bottom: 10%;
  right: auto;
  top: auto;
}
.memoji-1 {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 10%;
  top: 10%;
  right: auto;
  bottom: auto;
}
/* ------------------------------ Splash page ------------------------------ */

/* Your CSS code goes here */

/* ------ CIRCULAR ANIMATION ------ */

/* Your CSS code goes here */

/* ------------------------------ Navbar ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Header ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Partners ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Recent projects ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Client reviews ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Services ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Questions form ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Footer ------------------------------ */

/* Your CSS code goes here */

/* -------------------------------------------------------------------------- */
/* ------------------------------ PROJECT html ------------------------------ */
/* -------------------------------------------------------------------------- */

/* ------------------------------ Project main ------------------------------ */

/* Your CSS code goes here */

/* ----------------------------------------------------------------------------- */
/* ------------------------------ CONTACT-US html ------------------------------ */
/* ----------------------------------------------------------------------------- */

/* ------------------------------ Form ------------------------------ */

/* Your CSS code goes here */

/* ----------------------------------------------------------------------------- */
/* ------------------------------ About html ------------------------------ */
/* ----------------------------------------------------------------------------- */

/* Your CSS code goes here */

/* --------------------------------------------------------------------------- */
/* ------------------------------ MEDIA QUERIES ------------------------------ */
/* --------------------------------------------------------------------------- */

/* ------------------------- Smaller than 990px (tablet) ------------------------- */
@media (max-width: 990px) {
  
  /* Your CSS code goes here */
}

/* ------------------------- Smaller than 766px (mobile) ------------------------- */
@media (max-width: 766px) {
  .class{ condicion:llave;
    
  }
  /* Your CSS code goes here */
}

/* ------------------------------ Hamburguer menu ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Alert ------------------------------ */

/* Your CSS code goes here */

/* ------------------------------ Sticky scroll bar ------------------------------ */

/* Your CSS code goes here */
